@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
  --color-brand-blue: #2563EB;
  --color-brand-gray: #F3F4F6;

  --shadow-swiss: 4px 4px 0px 0px #000000;
}

@layer base {
  body {
    @apply bg-brand-white text-brand-black font-sans antialiased;
    overscroll-behavior-y: none;
  }
}
